.accesorios_title{
  margin-top: 19%;
  font-size: 192%;
  margin-left: 7%;
}

.accesorio_1, .accesorio_3, .accesorio_4, .accesorio_5, .accesorio_6, .accesorio_7, .accesorio_8, .accesorio_9, .accesorio_10, .accesorio_11, .accesorio_12{
  width: 60%;
  margin-top: 25%;
  margin-left: 21%;
}

.accesorio_1{
  margin-top: 23%;
  margin-left: 21%;
}

