.accesorios_title{
  margin-top: 19%;
  font-size: 192%;
  margin-left: 7%;
}

.accesorio1, .accesorio3, .accesorio4, .accesorio5, .accesorio6, .accesorio7, .accesorio8, .accesorio9, .accesorio10, .accesorio11, .accesorio12{
  width: 60%;
}

.accesorio1{
  margin-top: 23%;
  margin-left: 21%;
}

.accesorio3, .accesorio4, .accesorio5, .accesorio6, .accesorio7, .accesorio8, .accesorio9, .accesorio10, .accesorio11, .accesorio12{
  margin-top: 25%;
  margin-left: 21%;
}




