.contacto_title{
  margin-top: 19%;
  font-size: 192%;
  margin-left: 7%;
}

.contact-container {
  margin-top: 112px;
  margin-left: -106px;
}
.icons-contact {
  width: 4%;
  margin-left: 30%;
}
.icons-info {
  margin-left: 36%;
  margin-top: -27px;
  padding-bottom: 28px;
}

.networks-container {
  margin-top: 24px;
  margin-left: 12%;
}



.instagram, .facebook, .whatsapp{
  width: 11%;
}